<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:lang="http://www.springframework.org/schema/lang"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
        http://www.springframework.org/schema/lang http://www.springframework.org/schema/lang/spring-lang.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">
 
    <context:annotation-config />

    <context:component-scan base-package="com.myapp.*" /> 
    <bean id="jspViewResolver"
        class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass"
            value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/view/" />
        <property name="suffix" value=".jsp" />
    </bean>
 
	<mvc:resources mapping="/resources/**" location="/resources/theme1/" cache-period="31556926"/>

    <mvc:annotation-driven /> 
    <bean id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:messages" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
    <bean id="propertyConfigurer"
        class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
        p:location="/WEB-INF/jdbc.properties" />
 
    <bean id="dataSource"
        class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close"
        p:driverClassName="${jdbc.driverClassName}"
        p:url="${jdbc.databaseurl}" p:username="${jdbc.username}"
        p:password="${jdbc.password}" />
 
 
    <bean id="sessionFactory"
        class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
        <property name="configurationClass">
            <value>org.hibernate.cfg.AnnotationConfiguration</value>
        </property>
        <property name="hibernateProperties">
           <value>
            hibernate.connection.provider_class=org.hibernate.connection.C3P0ConnectionProvider
            hibernate.dialect=org.hibernate.dialect.OracleDialect
            hibernate.show_sql=true
       		</value>
        </property>
    </bean>
    
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
<tx:advice id="txAdvice">
    <tx:attributes>
        <tx:method name="*" propagation="REQUIRED" />
    </tx:attributes>
</tx:advice>

    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <!--  enable the configuration of transactional behavior based on annotations  -->
    <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    
<!-- aop:config>
    <aop:advisor pointcut="execution(* com.myapp..*.*(..))" advice-ref="txAdvice" />
</aop:config-->

    <bean id="cityDAO" class="com.myapp.dao.CityDaoImpl"></bean>
    <bean id="cityService" class="com.myapp.service.CityServiceImpl"></bean>
    <bean id="employeeDAO" class="com.myapp.dao.EmployeeDaoImpl"></bean>
    <bean id="employeeManager" class="com.myapp.service.EmployeeManagerImpl"></bean>
    <bean id="userService" class="com.myapp.service.UserServiceImpl"></bean>
    <bean id="userDAO" class="com.myapp.dao.UserDaoImpl"> </bean>
    <bean id="contactService" class="com.myapp.service.ContactServiceImpl"></bean>
    <bean id="contactDAO" class="com.myapp.dao.ContactDaoImpl"> </bean>
    <bean id="productDao" class="com.myapp.dao.ProductDaoImpl"> </bean>

	    
	<bean id="itemDao" class="com.myapp.dao.ItemDaoImpl">
	 	<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	<bean id="itemService" class="com.myapp.service.ItemServiceImpl"> </bean>

	<bean id="pelisDAO" class="com.myapp.dao.PelisDaoImpl">
	 	<property name="sessionFactory" ref="sessionFactory"></property>
	 </bean>
	<bean id="pelisService" class="com.myapp.service.PelisServiceImpl"> </bean>
	 <bean id="productService" class="com.myapp.service.ProductServiceImpl"> </bean>
	 
	 <bean id="springApplicationContext" class="com.myapp.util.SpringApplicationContext"/>
	             
</beans>